$left-color: #E5E5EA;
$right-color: #b0db8f;

@mixin tail {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 0;
  margin-left: -4px;
  margin-bottom: -8px;
}

@mixin shared-msg {
  position: relative;
  max-width: 270px;
  border-radius: .7em;
  padding: 10px 15px;
  margin: 2.5px 0;
}

.chat {
  margin: 15px 20px;
  padding: 20px 10px;
  max-width: 500px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 18%;
  left: 52%;
}

.chat-msg {
  @include shared-msg;
  box-shadow: 1px 1px 1px 0px #c1b1b1;
  
  &.right {
    background: $right-color;
    transform-origin: top right;
    align-self: flex-end;

    &.tail:after {
      @include tail;

      border-top-color: $right-color;
      right: 10px;
      border-right: 0;
    }
  }

  &.left {
    background: $left-color;
    transform-origin: top left;
    align-self: flex-start;

    &.tail:after {
      @include tail;

      border-top-color: $left-color;
      left: 15px;
      border-left: 0;
    }
  }
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 33px;
  padding-top: 10px;
  border-top: 1px solid darkslategray;
  transform-origin: top;
}

.chat-input {
  position: relative;
  border-radius: .7em;
  padding: 10px 0 0;
  width: 75%;
  box-shadow: 1.5px 1.5px 2px 0px #c1b1b1;

	background: $left-color;
  
  & textarea {
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    width: 100%;
    padding: 0 30px 0 15px;
  }

  & .chat-submit {
    position: absolute;
    right: 0;
    bottom: 2px;
  
    border: none;
    background: transparent;
    
    color: #65854c;
  
    cursor: pointer;
    outline: none;
  
    &:active {
      transform: scale(0.9);
    }
  }
}

.chat-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat-option {
  @include shared-msg;
  border-radius: 0.5em;
  border: none;
  box-shadow: 1.5px 1.5px 2px 0px #c1b1b1;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  background: $right-color;

  &:hover {
    background: #92cd65;
  }

  &:active {
    transform: scale(0.95);
  }
}

.breathing {
  transform-origin: bottom center;
  font-size: 38px;
  font-weight: bold;
  text-align: center;

  margin-top: 50px;

  animation: twerk 1s infinite;

  &.in {
    animation: breatheIn 3s 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  &.out {
    animation: breatheOut 3s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  > span {
    display: inline-block;
    animation: twerk 0.5s infinite;

    &:nth-child(even) {
      animation: twerk 0.5s infinite 0.25s;
    }
  }
}

@keyframes breatheIn {
  from {
    transform: scale(0);
    opacity: 0;
    letter-spacing: -7px;
  }

  to {
    transform: scale(1);
    opacity: 1;
    letter-spacing: 7px;
  }
}

@keyframes breatheOut {
  from {
    transform: scale(1);
    opacity: 1;
    letter-spacing: 7px;
  }

  to {
    transform: scale(0);
    opacity: 0;
    letter-spacing: -7px;
  }
}

@keyframes twerk {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


a.chat-option {
  text-decoration: none;
  color: inherit;
  text-shadow: none;;
}